@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
    overflow-x: hidden;   
}

#container{
    margin: 3vh 15vh 0vh 15vh;
}

nav{
   margin: 0!important;
   justify-content: space-between;
   align-items: center;

   display: grid;
   grid-template: "l m"; 
   grid-column-gap: 75vh;
}

nav img{
    grid-row: l;
}

.menu{
    grid-row: m;
}

.menu li{
    list-style: none;
}

.menu ul li a{
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1vh;
}

.menu a:hover{
    color: #b3b3b3;
    transition: 0.5s;
    /* border-bottom: solid 1px #808080; */
}

header{
    margin-top: 3vh;
    height: 85vh;
    display: grid;
    grid-template: "c1 c2";
    grid-column-gap: 12vh;
}

header h1{
    font-size: 40px;
    line-height: 45px;
    font-weight: 500;
}

header button{
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    width: 370px;
    font-weight: 500;
}

header span{
    font-weight: 700; 
}

header button:hover{
    color: #1a1a1a;
    background-color: transparent;
    border: solid 1px #1a1a1a;
    border-radius: 5px;
    transition: 0.5s;
}

.coluna-1{
    grid-area: c1;
    align-self: center;
}

.coluna-2{
    grid-area: c2;
    align-self: center;
    display: flex;
}

.tracado{
    text-transform: uppercase;
    transform: rotate(-90deg);
    font-family: 'Poppins';
    font-weight: 700;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1a1a1a;
    color: transparent;
    font-size: 85px;
    z-index: -1;
}

.coluna-2 img{
    width: 85vh;
    height: 60vh;
    background-color: firebrick;
    margin-left: -320px;
}

.sobre-nos{
    background-color: #F8F8F8;
    height: 100vh; 
}

/*
input{
    width: 350px;
    height: 20px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

::-webkit-input-placeholder{
    color: #6E7191;
    font-family: Gotham;
    font-weight: medium;
}

button{
    width: 380px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    color: #fff;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 5px;
    font-family: Gotham;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover{
    color: #1a1a1a;
    border-color: #1a1a1a;
    border: solid 1px #1a1a1a;
    background-color: transparent;
    transition: 0.3s;
}
*/